<!-- Image srcset sizes should be tailored to your site design
     You also need to generate the pre-sized images with the name extensions
     listed in the srcset declaration below.
 -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img src="/images/{{ .Get "src" }}-mini.jpg"
             srcset="/images/{{ .Get "src" }}-micro.jpg 320w,
                     /images/{{ .Get "src" }}-mini.jpg 380w,
                     /images/{{ .Get "src" }}-small.jpg 510w,
                     /images/{{ .Get "src" }}-medium.jpg 680w,
                     /images/{{ .Get "src" }}-large.jpg 800w,
                     /images/{{ .Get "src" }}-wide.jpg 960w,
                     /images/{{ .Get "src" }}-xwide.jpg 1380w"
             {{ if eq .Params.class "wide" }}sizes="90vw"{{ end }}
             {{ if eq .Params.class "tall" }}sizes="50vw"{{ else }}sizes="75vw"{{ end }}
        {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" | markdownify | safeHTML }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" | markdownify | safeHTML }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
