
$background-color: #acacae;
$text-color: #3a3a3a;



body {
  background: $background-color;
  color: $text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 2em 4em;
}


.autoprefixer {
  display: flex;
}
