// bower:scss
@import 'bower_components/susy/sass/_susy.scss';
// endbower

$background-color: #acacae;
$text-color: #3a3a3a;



body {
  @include container(80em);
  background: $background-color;
  color: $text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 2em 4em;
}

nav { @include span(50%); }

.autoprefixer {
  display: flex;
}
