
# Sites folder - all but test-site should have own repo
sites/*
!sites/.gitkeep

# node
node_modules

# Hugo output & cache
published
public
starters/test-site/resources/_gen/assets/css
starters/test-site/resources/_gen/assets/js

# OSX
.DS_Store
