
# How to use .gitignore: https://help.github.com/articles/ignoring-files

# Sites folder - all sites should have their own repo
sites/
!sites/.gitkeep

# node folder and symlinks to it
node_modules

# OSX
.DS_Store
