
# How to use .gitignore: https://help.github.com/articles/ignoring-files

# Sites folder - all sites should have their own repo
sites/
!sites/.gitkeep
sites/conf/

zipped-sites/
!zipped-sites/.gitkeep

# OSX
.DS_Store
