<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode}}">
  <head>
    {{ partial "head-meta.html" . }}
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

  {{ partial "header.html" . }}

    <div class="main-content">

      <h1>{{ .Title }}</h1>

      {{ if .Params.rendertoc }}
      {{ .TableOfContents }}
      {{ end }}

      <article>
        {{ .Content }}
      </article>
    </div>

  {{ partial "footer.html" . }}

  {{ partial "footer-scripts.html" . }}

  </body>
</html>
