<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode}}">
  <head>
    {{ partial "head-meta.html" . }}
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  {{ partial "header.html" . }}

    <h1>{{ .Title }}</h1>

    {{ if .Params.rendertoc }}
    {{ .TableOfContents }}
    {{ end }}

    <article>
      {{ .Content }}
    </article>

  {{ partial "footer.html" . }}

  {{ partial "footer-scripts.html" . }}

  </body>
</html>
