
# How to use .gitignore: https://help.github.com/articles/ignoring-files

# Hugo output & cache
published/
public/
resources/_gen/assets/css/
resources/_gen/assets/js/
starters/five-page/resources/_gen/assets/css/
starters/five-page/resources/_gen/assets/js/


# node folder
node_modules/

# OSX
.DS_Store
