@import "partials/_colors.css";

body {
  background: var(--background);
  color: var(--text);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 2em 4em;
}

.autoprefixer {
  display: flex;
}

.modal {
  z-index: 5000;
}

.modal-overlay {
  z-index: 5500;
}
