<h2><a href='{{ .Permalink }}'> {{ .Title }}</a></h2>
<div class="published-date">
  <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
    <span class="published-day">{{ .Date.Format "02" }}</span>
    <span class="published-month">{{ .Date.Format "Jan" }}</span>
    <span class="published-year">{{ .Date.Format "2006" }}</span>
  </time>
</div>
<div class="post-author">{{ .Params.author }}</div>
{{ if .Params.Summary }}
{{ .Params.Summary }}
{{ else }}
{{ .Summary }}
{{ end }}

{{ if .Truncated }}
<a href="{{ .Permalink }}">Read more →</a>
{{ end }}
