{{ define "main" }}
<main class="main-content">


  {{ .Content }}

<ul>
  {{ range .Pages.ByWeight }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a>
  <p>{{ .Description }}</p>
  </li>
  {{ end }}
</ul>

<hr>

{{ $paginator := .Paginate (where .Data.Pages "Type" "styleguide") 2 }}

{{ range $paginator.Pages }}
  <div class="post">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </div>
{{ end }}

{{- partial "pagination.html" . -}}

<hr>

{{- partial "styleguide-menu.html" . -}}

</main>
{{ end }}
